<h1>Usecases</h1>
<!-- <div style="flex: 1 1 0%">
    <ag-grid-angular 
        style="height: 100%;"
        [theme]="theme"
        (gridReady)="onGridReady($event)"
        [rowData]="rowData"
        [columnDefs]="coulmnDefs">
    </ag-grid-angular>
</div> -->
<div class="example-wrapper">
  <mat-form-field>
    <mat-label>Theme</mat-label>
    <mat-select [(ngModel)]="theme">
      @for (theme of themes; track theme) {
      <mat-option [value]="theme.theme">{{theme.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="example-header">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Filter</mat-label>
        <input type="search" name="quickFilter" matInput placeholder="Filter..." value="" id="quickFilter"
          [(ngModel)]="quickFilterText">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of rows: </mat-label>
        <input type="text" matInput value="{{ displayedRows }}">
      </mat-form-field>
    </form>
  </div>
  <ag-grid-angular style="width: 100%; height: 100%;" [columnDefs]="columnDefs" [rowData]="rowData"
    [quickFilterText]="quickFilterText" (modelUpdated)="onModelUpdated($event)" [theme]="theme"
    [domLayout]="'autoHeight'" [defaultColDef]="defaultColDef" [sideBar]="true" />
</div>
